body, h1, h2, h3 {
    font-family: 'Roboto';
}

body {
    background-color: darkcyan;
}

p {
    text-align: center;
}

.tooltip {
    fill: red;
}

#real {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

#searchBtn, #cohortSearchBtn {
    /* hack too lazy to delete buttons so hid them :P */
    display: none;
}

#viz {
    background-color: lightcyan;
    margin: 0px;
}
#infoPanel, #legend {
    background-color: lightcyan;
    /* border-style: groove; */

}

#viz {
    /* border-style: groove; */
    /* border-radius: 10%; */
}

#legend {
    /* border-radius: 20%; */
}

#infoPanel {
    /* border-radius: 10%; */
}
#infoPanel, #legend {
    position: relative;
    float: left;
    padding: 20px;
    margin: 10px;
    overflow: auto;
}

    #viz {
        position: relative;
        float: right;
        width: 100%;
    }

    #infoPanel, #legend {
        width: 17%;
    }

    #legend {
        text-align: center;
    }

    #controls {
        position: relative;
        float: right;
        margin: 0px;
        padding: 0px;
        overflow: visible;
        width: 75%;
        background-color: lightcyan;
    }

    #reset {
        width: 220px;
    }

    #reset:hover {
        background-color: aliceblue;
    }


.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    width: 220px;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 200px;
}

.nodes {
    font-size: 14pt;
}

h1, h2, h3 {
    position: relative;
    text-align: center;
}

#search {
    position: relative;
    display: block;
}

#cohort {
    position: relative;
    display: block;
}

#data {
    display: block;
}

#filter {
    /* display: none; */
    /* position: absolute; */
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 20px;
    width: 220px;
    height: 200px;
    overflow: auto;
}

.parent142, #arrowhead-parent142 {
    stroke: darkgreen;
    fill: darkgreen;
    color: darkgreen;
}

.parent143, #arrowhead-parent143 {
    stroke: red;
    fill: red;
    color: red;
}


.parent143x, #arrowhead-parent143x {
    stroke: blue;
    fill: blue;
    color: blue;
}

img {
    background : url("resources/loader.gif") no-repeat;
    width: 100px;
    height: 100px;
    background-position: center;
    border-radius: 50%;
}