body {
    font-family: 'font-awesome';
}

.tooltip {
    fill: red;
}

.nodes {
    font-size: 14pt;
}

h1, h2, h3 {
    position: relative;
    text-align: center;
}

#search {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    margin: 10px;
}

#cohort {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    margin: 10px;
}

#infoPanel {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 10px;
    /* background-color: #b566ff; */
    border-radius: 10px;
}

#legend {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    margin: 10px;
    border-style: solid;
}

.parent142, #arrowhead-parent142 {
    stroke: purple;
    fill: purple;
    color: purple;
}

.parent143, #arrowhead-parent143 {
    stroke: red;
    fill: red;
    color: red;
}


.parent143x, #arrowhead-parent143x {
    stroke: blue;
    fill: blue;
    color: blue;
}

img {
    background : url("resources/loader.gif") no-repeat;
    width: 100px;
    height: 100px;
    background-position: center;
    border-radius: 50%;
}

